<section class="home-company-area bg-color" id="about">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="company-content">
          <div class="company-tittle">
            <span>{{ "about.title" | translate }}</span>
            <h2>{{ "about.headSubtitle" | translate }}</h2>
            <p>
              {{ "about.subtitle1" | translate }}
            </p>
            <p>
              {{ "about.subtitle2" | translate }}
            </p>
          </div>

          <a routerLink="/about" class="box-btn">{{
            "about.button" | translate
          }}</a>
        </div>
      </div>

      <div class="col-lg-6 col-md-12">
        <div class="company-img">
          <img src="assets/images/team.jpg" alt="company" />
        </div>
      </div>
    </div>
  </div>
</section>
