<section class="home2-choose-area pt-100 pb-70">
  <div class="container">
    <div class="section-title">
      <span>{{ "features.title" | translate }}</span>

      <h2>{{ "features.headSubtitle" | translate }}</h2>
      <p>
        {{ "features.subtitle" | translate }}
      </p>
    </div>

    <div class="row">
      <div class="col-lg-2 col-sm-4">
        <div class="single-choose">
          <div class="icon">
            <fa-icon class="icon-service" [icon]="faCoffee"></fa-icon>
          </div>
          <h3>{{ "features.understanding" | translate }}</h3>
        </div>
      </div>

      <div class="col-lg-2 col-sm-4">
        <div class="single-choose">
          <div class="icon">
            <fa-icon class="icon-service" [icon]="faAward"></fa-icon>
          </div>
          <h3>{{ "features.quality" | translate }}</h3>
        </div>
      </div>

      <div class="col-lg-2 col-sm-4">
        <div class="single-choose">
          <div class="icon">
            <fa-icon class="icon-service" [icon]="faMicrochip"></fa-icon>
          </div>
          <h3>{{ "features.technology" | translate }}</h3>
        </div>
      </div>

      <div class="col-lg-2 col-sm-4">
        <div class="single-choose">
          <div class="icon">
            <fa-icon class="icon-service" [icon]="faHeadset"></fa-icon>
          </div>
          <h3>{{ "features.support" | translate }}</h3>
        </div>
      </div>

      <div class="col-lg-2 col-sm-4">
        <div class="single-choose">
          <div class="icon">
            <fa-icon class="icon-service" [icon]="faThumbsUp"></fa-icon>
          </div>
          <h3>{{ "features.expert" | translate }}</h3>
        </div>
      </div>

      <div class="col-lg-2 col-sm-4">
        <div class="single-choose">
          <div class="icon">
            <fa-icon class="icon-service" [icon]="faDollar"></fa-icon>
          </div>
          <h3>{{ "features.price" | translate }}</h3>
        </div>
      </div>
    </div>
  </div>
</section>
