<section class="banner-area">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="banner-content mt-4">
              <h1>{{ "header.title" | translate }}</h1>
              <p>
                {{ "header.subtitle" | translate }}
              </p>
              <div class="banner-btn">
                <a routerLink="/contact" class="box-btn">{{
                  "nav.contact" | translate
                }}</a>
                <a routerLink="/about" class="box-btn border-btn">{{
                  "header.button" | translate
                }}</a>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="banner-img">
              <img src="assets/images/home-bg-1-img.png" alt="banner-img" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="home-shape">
    <div class="shape1">
      <img src="assets/images/shape/1.png" alt="shape" />
    </div>
    <div class="shape2">
      <img src="assets/images/shape/2.png" alt="shape" />
    </div>
    <div class="shape3">
      <img src="assets/images/shape/3.png" alt="shape" />
    </div>
    <div class="shape4">
      <img src="assets/images/shape/4.png" alt="shape" />
    </div>
    <div class="shape5">
      <img src="assets/images/shape/5.png" alt="shape" />
    </div>
    <div class="shape6">
      <img src="assets/images/shape/6.png" alt="shape" />
    </div>
  </div>
</section>
